.side-navi{
  background-color: #76c6d1;
  margin-right: -52px; 
  border-radius: 100px 0px 0px 100px;
}
.color{
  background-color: #76c6d1;
}
.color1{
  background-color: #b6bcec;
}
.color2{
  color: #f4b707;
  background-color: #fbe4a3;
}
.color3{
  background-color: #d6e4a5;
  color: #8fb70c;
}
.color4{
  background-color: #e7a1ff;
  color: #bd00ff;
}
.color-text{
  color: #44afc3;
}
input{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 25%;
  font-size: 20px;
  padding: 8px 40px 8px 20px;
  border: none;
  box-shadow: 0 5px 8px 3px gray;
}
.search-btn{
  position: absolute;
  top: 19px;
  right: 706px;
  width: 50px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: none;
}
.box-style{
  border-radius: 70px 70px 70px 70px;
  box-shadow: 0 5px 8px 3px gray;
}
.small-box{
  border-radius: 20px 20px 20px 20px;
  height: 200px;
}
.vr1{
  border-left: 3px solid #008ffb;
  height: 71px;
}
.vr2{
  border-left: 3px solid #00e396;
  height: 71px;
}
.vr3{
  border-left: 3px solid #feb019;
  height:  71px;
}
.vr4{
  border-left: 3px solid #ff4560;
  height: 82px;
}
.vr5{
  border-left: 3px solid #775dd0;
  height: 71px;
}